.modal-custom{
    width: fit-content !important;
    max-width: 80% !important;
}

.modal-custom .modal-content {
    display: inline-block !important;
    background-color: transparent !important;
    border: none !important;
}